* { padding:0; margin:0; }
body { font-family: Arial, Sans-Serif; }
a { color:#020655; font-size:12px; text-decoration:none; }
a:hover, a:active { text-decoration:none; color:#000; }
ul { margin:0; padding:0; }
ul { list-style:none; }

body { background-color:#f1fbff; }

#container { clear:both; width:940px; margin:0 auto; }

.search { margin:15px 0; }
.search input { border-radius:0; width:200px; height:20px; padding:3px; border:solid 1px #c7c7c7; }
.search input::-webkit-input-placeholder { font-style:italic; }
.search .button { color:#fff; font-weight:bold; text-shadow:2px 2px 2px #111; background-color:#83BEFC; padding:5px 10px; border:none; text-transform:uppercase; }

.thumbnails { margin:0; border-left:1px solid #e5e5e5; }
.thumbnails li { height:180px; width:150px; border-right:1px solid #e5e5e5; margin:0; padding:0 15px; }
li a.thumbnail { height:100px; padding:0; overflow:hidden; }

.caption { text-shadow:1px 1px 1px #ddd; font-size:0.8em; }
.caption .title { font-weight:bold; font-size:1.2em; }
.caption .title, .caption .store { line-height:normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.caption .price { font-weight:bold; }
.caption .description { padding:0 10px; }
.caption .store { }

.paginatio { float:right; margin-right:15px; }
.paginatio ul { float:right; }
.paginatio div { float:left; font-weight:bold; font-size:12px; margin-right:10px; }
.paginatio li { float:left; width:20px; position:relative; }
.paginatio .current a { color:#83befc; cursor:default; pointer-events:none; }
.paginatio li a { display:block; }
.paginatio li a.next { position:absolute; top:4px; border-left:solid 8px #333; border-top:solid 6px transparent; border-bottom:solid 6px transparent; }
.paginatio li a:hover { color:#c3c3c3; border-left-color:#c3c3c3; }

.browse { clear:right; }
.browse .heading { padding:5px 10px; margin-bottom:10px; font-weight:bold; width:230px; background-color:#83befc; color:#fff; text-shadow:2px 2px 2px #111; }
.browse .nav { width:100px; background-color:#fff; border:solid 1px #c7c7c7; -webkit-box-shadow:3px 3px 2px #676767; }
.browse a:hover { font-weight:bold; color:#000; }
.browse ul { width:117px; text-align:center; }
.browse .category { position:relative; }
.browse .category > a { padding:3px 10px; }
.browse .sublist { z-index:5; position:absolute; top:-10px; left:85px; border:1px solid #c7c7c7; background-color:#fff; /*border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;*/  -webkit-box-shadow:4px 4px 5px #676767; }
.browse .sublist .items { z-index:10;  width:135px; position:absolute; top:-10px; left:110px; border:1px solid #c7c7c7; background-color:#fff; /*border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;*/ -webkit-box-shadow:5px 5px 8px #676767; }
.browse ul li a { display:block; }
.browse .sublist li:first-child { padding-top:10px; }
.browse .sublist li:last-child { padding-bottom:10px; }

.hidden { display:none; }
.shown { display:block; }

header { width:940px; height:20px; clear:both; margin:0 auto; padding:10px 0; border-bottom:1px solid gray; }
footer { width:940px; clear:both; margin:20px auto; padding:20px 0 30px; border-top:1px solid gray; }

footer li, header li { float:left; margin-left:20px; }

#google_plus { float:right; }