* { padding:0; margin:0; }
a { color:#020655; font-size:12px; }
ul { margin:0; padding:0; }

ul { list-style:none; }
.search { margin:15px 0; }
.thumbnails { margin:0; border-left:1px solid #e5e5e5; }
.thumbnails li { height:180px; width:150px; border-right:1px solid #e5e5e5; margin:0; padding:0 15px 15px; }
li a.thumbnail { height:100px; padding:0; overflow:hidden; }

.caption { text-shadow:1px 1px 1px #ddd; font-size:0.8em; }
.caption .title { font-weight:bold; font-size:1.2em; }
.caption .title, .caption .store { line-height:normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.caption .price { font-weight:bold; }
.caption .description { padding:0 10px; }
.caption .store { }

.browse { clear:right; }
.browse .heading { padding:5px 10px; font-weight:bold; width:230px; background-color:#83befc; color:#fff; text-shadow:2px 2px 2px #111; }
.browse ul { width:120px;}
.browse .nav { position:relative; padding-left:10px; }
.browse .sublist { display:none; position:absolute; top:-10px; left:60px; border:1px solid #7f7f7f; padding:10px; background-color:#fff; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
.browse ul li a { border-bottom:1px solid #e5e5e5; padding:3px 0 0; }

footer { width:940px; clear:left; margin:0 auto; margin-top:20px; padding:10px 0 30px; border-top:1px solid gray; }
footer li { float:left; margin-left:20px; }