$main-light-blue: #83befc;
$blue-shadow: #737CA1;

* { padding:0; margin:0; }
body { font-family: Sans-Serif; }

a { color:#020655; font-size:12px; text-decoration:none; cursor:pointer; }
a:hover, a:active { text-decoration:none; color:#000; }
ul { margin:0; padding:0; }
ul { list-style:none; }

body { background-color:#f1fbff; }

#container { clear:both; min-width:940px; max-width:1150px; margin:0 auto; }

.search {
  margin:15px 0;
  input {
    border-radius:0; width:200px; height:20px; padding:3px; border:solid 1px #c7c7c7;
  }
  input::-webkit-input-placeholder {
    font-style:italic; box-shadow:0 0 1px #B4CFEC;
  }
  .button {
    width:24px; background-color:#addfff; border:1px solid #B4CFEC; border-radius:2px; box-shadow:0 0 1px #B4CFEC;
  }
}

.results { padding-left:130px; }
.thumbnails { margin:0; border-left:1px solid #e5e5e5; }
.thumbnails li { height:180px; width:150px; border-right:1px solid #e5e5e5; margin:0; padding:0 15px; }
li a.thumbnail { height:100px; padding:0; overflow:hidden; }

.caption { text-shadow:1px 1px 1px #ddd; font-size:0.8em; }
.caption .title { font-weight:bold; font-size:1.2em; }
.caption .title, .caption .store { line-height:normal; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.caption .price { font-weight:bold; }
.caption .description { padding:0 10px; }
.caption .store { }

.left_column {
  float:left;
  width:120px;
}

/*** filters ***/
.filters {
  font-size:0.8em;
  .heading {
    position:relative;
  }
}
.arrow_d {
  position:absolute;
  top:6px;
  border-top:7px solid #777;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
}
.brands {
  ul {
    width:110px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow:1px 1px 3px $blue-shadow;
    .bname {
      padding:3px 7px 0px;
    }
  }
  ul.selected {
    border-radius:2px 2px 0 0;
    border-bottom:none;
    position:relative;
    li {
      border-bottom:1px solid #ddd;
    }
    li:last-child {
      border-bottom:none;
    }

    .remove {
      position:absolute;
      right:5px;
      padding-left:5px;
      border-left:1px solid #ddd;
    }
  }
  ul.selection {
    position: absolute;
    max-height: 170px;
    overflow-y: scroll;
    border-radius:0 0 2px 2px;
    box-shadow:inset 0 2px 2px 0px #bbb;
    z-index:10;
    a {
      font-size:1em;
    }
  }
}
.slider {
  margin-bottom:20px;
  .s_label {
    font-weight:bold;
    display:inline-block;
  }
  #slider {
    margin:5px 10px 0 0;
  }
}
/*** jquery ui override ***/
.slider {
  .ui-widget {
    font-size:0.2em;
    border:none;
    border-radius:0px;
    background:none;
    background-color:#ccc;
  }
  .ui-widget-header {
    background:none;
    background-color:#333;
  }
  .ui-slider .ui-slider-handle {
    top:-0.5em;
    height:1em;
    width:0.6em;
    border-radius:0px;
    background:none;
    background-color:#333;
  }
}
/*** browse links ***/
.browse { width:102px; padding-top:20px; }
.browse .heading { font-size:13px; padding:5px 10px; margin-bottom:10px; font-weight:bold; background-color:$main-light-blue; color:#fff; text-shadow:2px 2px 2px #111; -webkit-box-shadow:3px 3px 2px $blue-shadow; }
.browse .nav { width:100px; background-color:#fff; border:solid 1px #c7c7c7; -webkit-box-shadow:3px 3px 2px $blue-shadow; }
.browse a:hover { font-weight:bold; color:#000; }
.browse ul {
  width:117px; text-align:center;

  ul li a {
    display:block;
  }
}

.browse .category { position:relative; }
.browse .category > a { padding:3px 10px; }
.browse .sublist {
  z-index:5; position:absolute; top:-10px; left:85px; border:1px solid #c7c7c7; background-color:#fff; -webkit-box-shadow:4px 4px 5px #676767;
  /*border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;*/

  .items {
    z-index:10;  width:135px; position:absolute; top:-10px; left:110px; border:1px solid #c7c7c7; background-color:#fff; /*border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;*/ -webkit-box-shadow:5px 5px 8px #676767;
  }

  li:first-child {
    padding-top:10px;
  }

  li:last-child {
    padding-bottom:10px;
  }
}

.hidden { display:none; }
.shown { display:block; }

/*** pagination ***/
.paginator {
  float:right; margin-right:15px;
  div { float:left; font-weight:bold; font-size:12px; margin-right:10px; }
  ul { float:right; }
  li {
    float:left; width:20px; position:relative;
    a { display:block; }
    a.next { position:absolute; top:4px; border-left:solid 8px #333; border-top:solid 6px transparent; border-bottom:solid 6px transparent; }
    a:hover { color:#c3c3c3; border-left-color:#c3c3c3; }
  }
  .current a { color:$main-light-blue; cursor:default; pointer-events:none; }
}

header { max-width:1200px; min-width:940px; height:20px; clear:both; margin:0 auto; padding:10px 0; border-bottom:1px solid gray; }
footer { max-width:1200px; min-width:940px; clear:both; margin:20px auto; padding:20px 0 30px; border-top:1px solid gray; }

footer li, header li { float:left; margin-left:20px; }

#google_plus { float:right; }