{% load get_setting %}

  <section class="browse">
    <div class="heading">Browse by Categories</div>
    {% get_setting "BROWSE_ITEMS" as categories %}

    <ul class="nav">
    {% for category, products in categories.items %}
      <li class="category"><a href="?q={{ category }}">{{ category }}</a>
        <ul class="sublist hidden">
        {% for sub_category, sub_items in products.items %}
          <li class="sub_category"><a href="?q={{ sub_category }}">{{ sub_category }}</a>
	    <ul class="items hidden">
	      {% for product in sub_items %}
	      <li><a href="?q={{ product }}">{{ product }}</a></li>
	      {% endfor %}
	    </ul>
	  </li>
        {% endfor %}
        </ul>
      </li>

    {% endfor %}
    </ul>

  </section>
