{% load get_setting %}

  <section class="browse">
    <div class="heading">Browse by Categories</div>
    {% get_setting "BROWSE_ITEMS" as categories %}

    <ul class="nav nab-list">
    {% for category, products in categories.items %}
      <li class=""><a href="?q={{ category }}">{{ category }}</a>
        <ul class="sublist">
        {% for product in products %}
          <li><a href="?q={{ product }}">{{ product }}</a></li>
        {% endfor %}
        </ul>
      </li>

    {% endfor %}
    </ul>

  </section>
