{% load get_simple_setting %}
<section class="filters">
  <div class="slider"><span>Price: </span>
    <div class="s_label">$<span id="price_min">{% get_simple_setting "PRICE_RANGE_MIN" %}</span></div>
    <span> - </span>
    <div class="s_label">$<span id="price_max">{% get_simple_setting "PRICE_RANGE_MAX" %}</span></div>
    <div id="slider"></div>
  </div>

{% comment %}
  <div class="brands"><div class="heading">Brands<span class="arrow_d"></span></div>
    <ul class="selected hidden">
    </ul>
    <ul class="selection hidden">
      {% for brand in brands %}
      <li class="link"><a class="bname" data-brand="{{ brand }}">{{ brand }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endcomment %}
</section>
