{% extends "base.html" %}
{% load get_simple_setting %}

{% block content %}
{% if products %}

  <div class="search">
    <form class="form-search" method="GET" action="/">
      <input class="text" type="text" name="q" value="{{ keywords }}" placeholder="What are you looking for?" />
      <input class="button" type="image" src="{{ STATIC_URL }}img/search.png" width="26" height="26" />
    </form>
  </div>

  <div class="clearfix"></div>

  <section class="left_column">
  {% include "filters.html" %}
  {% include "browse.html" %}
  </section>

  <section class="results">
    <ul class="thumbnails">
      {% for p in products %}
      <li>
	<div>
          <a class="thumbnail" href="{{ p.product.link }}"><img src="{{ p.product.images.0.link }}" title="{{ p.product.title }}" /></a>
          <div class="caption">
            <div class="title" title="{{ p.product.title }}">{{ p.product.title }}</div>
            <div class="price">${{ p.product.inventories.0.price }}</div>
            <div class="store">{{ p.product.author.name }}</div>
          </div><!--caption-->
	</div>
      </li>
      {% endfor %}
    </ul>
  </section>

  {% if pagination %}
  {% include "pagination.html" %}
  {% endif %}

{% else %}
  <div>No items found.</div>
{% endif %}
{% endblock %}

{% block js_support %}
  <script type="text/javascript">
    var slider_config = {"max":{% get_simple_setting "PRICE_RANGE_MAX" %}, min:{% get_simple_setting "PRICE_RANGE_MIN" %}};
    var ms_keywords = "{{ keywords }}";
  </script>
{% endblock %}
